.email-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 220px;
    vertical-align: middle;
}

.sidebar .nav-item.active .nav-link {
    background-color: #009e99;
    color: white;
    border-radius: 4px; 
}

.sidebar .nav-item.active i{
    color: white;
}

.sidebar .nav-item .nav-link {
    color: #000;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar .nav-item .nav-link:hover {
    background-color: #f0f0f0;
    color: black;
}
